body {
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 25px;
    color: #773333;
}

p {
    font-size: 14px;
    color: #585656;
}