body {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 25px;
    color: #773333;
}

p {
    font-size: 14px;
    color: #585656;
}

/* Utilizando Classes e ids*/

#title-classes {
    color: #daa520
}

#title-ids {
    color: #787878;
}

#container-classes {
    border: 1px solid #ff0000;
    padding: 20px;
}

#container-id {
    border: 1px solid #0000ff;
    padding: 20px;
}

.paragraph {
    background-color: #000;
    color: #f0f8ff;
    padding: 5px;
}

#exclusive-paragraph {
    background-color: #613d3d;
    color: #fff;
    padding: 5px;
}

/* Ordem dos Seletores */

h2 {
    border-bottom: 2px solid #ff0000;
}

.subtitle {
    border-bottom: 3px solid #0000ff;
}

#id-subtitle {
    border-bottom: 4px solid #00ff00;
}