body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 20px;
}

#input-container {

    margin-bottom: 20px;
}

#result-container p {
    margin: 5px;
}
