body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #0f34dd;
}

.produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produto:nth-child(odd) {
    background-color: #efefef;
}

.produto h2 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.preco {
    font-size: 18px;
    font-weight: bold;
    color: #28a745;
}

.quantidade {
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {
    .produto {
        flex-direction: column;
        align-items: flex-start;
    }

    .preco, .quantidade {
        margin-top: 10px;
    }
}