* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #310081;
    font-size: 42px;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

p {
    text-align: justify;
    padding: 10px;
    text-indent: 20px;
}

.bg {
    height: 500px;
    width: 100%;
    background-color: #555;
    background-image: url('https://images.unsplash.com/photo-1430990480609-2bf7c02a6b1a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}